<ng-container *ngIf="list">
    <mat-form-field class="todo-list-name-field" appearance="standard">
      <mat-label>TODO List</mat-label>
      <input
        #name
        matInput
        [formControl]="nameControl"
        (blur)="updateName()"
        (keypress)="submitName($event)"
      />

      <button
        *ngIf="nameControl.enabled"
        mat-icon-button
        matSuffix
        type="button"
        (click)="updateName()"
        [disabled]="nameControl.invalid"
      >
        <mat-icon color="accent">done</mat-icon>
      </button>
      <button
        *ngIf="nameControl.disabled"
        mat-icon-button
        matSuffix
        (click)="editName(name)"
      >
        <mat-icon>mode_edit</mat-icon>
      </button>
    </mat-form-field>

    <ng-container *ngFor="let item of list.items; index as i; trackBy: itemUid">
      <app-todo-item
        [label]="i + 1 + '.'"
        [item]="item"
        (itemChange)="updateItem(i, $event)"
      ></app-todo-item>
    </ng-container>

    <app-todo-item
      [label]="list.items.length + 1 + '.'"
      (itemChange)="updateItem(list.items.length, $event)"
    ></app-todo-item>

</ng-container>
