html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field.todo-item-field {
  display: block;
  .mat-input-element {
    margin-left: 0.5rem;
  }
}
